body{
    background-color: LightSkyBlue;
}

.extreme{
    color:white;
}

.head1{
    color: #0a9bf5;
}

.navzone{
    color: #23a5f6;
}

.content{
    color: #065d93;
    font-family: "Times New Roman", Times, serif;
}

.prose{
    color: #043e62;
}