h1, h2, h3{
    color: DeepSkyBlue;
}

ul{
    color: DeepSkyBlue;
    font-size: 30px;
}

body{
    color: DeepSkyBlue;
    font-size: 25px;
}

p{
    color: DeepSkyBlue;
    font-size: 20px;
}

li{
    color: DeepSkyBlue;
    font-size: 30px;
}